.LoginForm {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  margin: 6rem auto;
}

.LoginForm-field {
  margin-top: 1.5rem;

}

.LoginForm-label {
  display: block;
}

.LoginForm-input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 2px solid gray;
  padding: 0 .5rem
}

.LoginForm-input:focus {
  border-color:hsl(147, 50%, 47%);
  outline: none;
}

.LoginForm-button {
  margin: 4rem auto 0;
  background-color: hsl(147, 50%, 47%);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: .5rem;
  color: white;
  font-size: 1.25rem;
  width: 100%;
}

.LoginForm-button:hover {
  background-color: hsl(147, 50%, 55%);
}

.LoginForm-button:active {
  background-color: hsl(147, 50%, 40%);
}