.Nav-navbar {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(147, 50%, 47%);
  z-index: 3;
}

.Nav-navbar .Nav-navlink {
  text-decoration: none;
  color: hsl(147, 84%, 87%);
  font-weight: 500;
}

.Nav-navbar .Nav-navlink.active {
  color: white;
  font-weight: 600;
}

.Nav-navlink:hover {
  color: white;
  font-weight: 600;
}