.SearchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.SearchForm-input {
  width: 28rem;
  height: 2rem;
  border: none;
  border-bottom: 2px solid gray;
  min-width: 16rem;
  padding: 0 .5rem;
}

.SearchForm-input:focus {
  border-color:hsl(147, 50%, 47%);
  outline: none;
}

.SearchForm-button {
  margin: 2rem 0 4rem;
  padding: .75rem 2rem;
  width: 16rem;
  font-size: 1.25rem;
  border-radius: .5rem;
  background-color: hsl(147, 50%, 47%);
  color: white;
  border: none;
}

.SearchForm-button:hover {
  background-color: hsl(147, 50%, 55%);
}

.SearchForm-button:active {
  background-color: hsl(147, 50%, 40%);
}